/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-09-2016, 13:21:14
    Author     : MENJA
*/

body{
    background: #333;
    color: #888;    
}
